.pater {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 0 0 1em;
	background: #fff;
}

.pater,
.pater:focus,
.pater:hover {
	color: #2c2d31;
}

.pater::after {
	content: 'Sponsor';
	font-size: 0.765em;
	position: absolute;
	z-index: 20;
	bottom: 0;
	left: 0;
	padding: 1em;
	color: #f1bed4;
}

.pater__img {
	width: 100%;
	height: 120px;
	background: url(../sponsor/FullStory.jpg) no-repeat center center;
	background-size: cover;
}

.pater__content {
	font-size: 0.85em;
	z-index: 9;
	padding: 1.5em 1em;
	text-align: center;
}

.pater__title {
	font-size: 1em;
	margin: 0;
	color: #ca6694;
}

.pater__call {
	font-weight: bold;
}

@media screen and (min-width: 50em) {
	.pater {
		height: 240px;
		background: #1f2125;
	}
	.pater--small {
		height: 200px;
	}
	.pater,
	.pater:focus,
	.pater:hover {
		color: #82888a;
	}
	.pater__img {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		height: 100%;
	}
	.pater__call {
		color: #fff;
	}
	/* Hover Animation */
	.pater__img,
	.pater__content,
	.pater::after {
		transition: transform 0.3s, opacity 0.3s;
	}

	.pater:hover::after {
		opacity: 0;
		transform: translate3d(0,20px,0);
	}

	.pater:hover .pater__img {
		transform: translate3d(0,100px,0) scale3d(0.7,0.7,1);
	}

	.pater--small:hover .pater__img {
		transform: translate3d(0,100%,0);
	}

	.pater__content {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.pater--small .pater__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.pater:hover .pater__content {
		transform: translate3d(0,-50px,0);
	}
}
